In [1]:
students = ['alena','pavan','prabhu','ramesh','bharat','anjali']

In [2]:
print(students)

['alena', 'pavan', 'prabhu', 'ramesh', 'bharat', 'anjali']

In [3]:
type(students)

list

In [4]:
print(students[1])

pavan

In [5]:
print students[0])

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(students[0]))? (<ipython-input-5-d79fe82f32e5>, line 1)

In [6]:
print(students[0])

alena

In [7]:
#accessing the elements from list

In [10]:
#Requirement1: I want to add a new student with the student name as Ajit
#requirement 2 : I want to replace astudent alina with anusha 
#Requirement3:I want to delete name pavan from list

In [11]:
#answers

In [13]:
students.append('ajit')

In [14]:
print(students)

['alena', 'pavan', 'prabhu', 'ramesh', 'bharat', 'anjali', 'ajit', 'ajit']

In [15]:
#adding Diya as well

In [16]:
students.append('diya')

In [17]:
print(students)

['alena', 'pavan', 'prabhu', 'ramesh', 'bharat', 'anjali', 'ajit', 'ajit', 'diya']

In [18]:
student.insert(3,'harshitha')

NameError: name 'student' is not defined

In [19]:
students.insert(3,'harshitha')

In [20]:
print(students)

['alena', 'pavan', 'prabhu', 'harshitha', 'ramesh', 'bharat', 'anjali', 'ajit', 'ajit', 'diya']

In [21]:
#replace alena with Anusha

In [24]:
students[0]:'anusha'

In [25]:
print(students)

['alena', 'pavan', 'prabhu', 'harshitha', 'ramesh', 'bharat', 'anjali', 'ajit', 'ajit', 'diya']

In [26]:
students[1]='Mayur'

In [27]:
print(students)

['alena', 'Mayur', 'prabhu', 'harshitha', 'ramesh', 'bharat', 'anjali', 'ajit', 'ajit', 'diya']

In [28]:
#mistake with syntax in line 24

In [29]:
students[0]='anusha'

In [30]:
print(students)

['anusha', 'Mayur', 'prabhu', 'harshitha', 'ramesh', 'bharat', 'anjali', 'ajit', 'ajit', 'diya']